@font-face {
  font-family: 'Ubuntu Sans';
  src: url('/fonts/UbuntuSans[wdth,wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Sans';
  src: url('/fonts/UbuntuSans-Italic[wdth,wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Sans", ui-sans-serif, system-ui, sans-serif;
}
